'.source.gfm':
  'AppVeyor: branch':
    'prefix': 'png-appveyor-branch'
    'body': '[![AppVeyor (branch)](https://img.shields.io/appveyor/ci/${1:user}/${2:repository}/${3:branch}.png${4:?style=flat${5:-square}})]($6)'
  'AppVeyor':
    'prefix': 'png-appveyor'
    'body': '[![AppVeyor](https://img.shields.io/appveyor/ci/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})]($5)'
  'Codecov':
    'prefix': 'png-codecov'
    'body': '[![Codecov](https://img.shields.io/codecov/c/github/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})]($5)'
  'Codeship: branch':
    'prefix': 'png-codeship-branch'
    'body': '[![Codeship (branch)](https://img.shields.io/codeship/${1:id}/${2:branch}.png${3:?style=flat${4:-square}})]($5)'
  'Codeship':
    'prefix': 'png-codeship'
    'body': '[![Codeship](https://img.shields.io/codeship/${1:id}.png${2:?style=flat${3:-square}})]($4)'
  'Coveralls: branch':
    'prefix': 'png-coveralls-branch'
    'body': '[![Coveralls (branch)](https://img.shields.io/coveralls/${1:user}/${2:repository}/${3:branch}.png${4:?style=flat${5:-square}})]($6)'
  'Coveralls':
    'prefix': 'png-coveralls'
    'body': '[![Coveralls](https://img.shields.io/coveralls/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})]($5)'
  'HHVM: branch':
    'prefix': 'png-hhvm-branch'
    'body': '[![HHVM (branch)](https://img.shields.io/hhvm/${1:user}/${2:repository}/${3:branch}.png${4:?style=flat${5:-square}})]($6)'
  'HHVM':
    'prefix': 'png-hhvm'
    'body': '[![HHVM](https://img.shields.io/hhvm/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})]($5)'
  'Jenkins tests':
    'prefix': 'png-jenkins-tests'
    'body': '[![Jenkins tests](https://img.shields.io/jenkins/t/${1:user}/${2:project}.png${3:?style=flat${4:-square}})]($5)'
  'Jenkins':
    'prefix': 'png-jenkins'
    'body': '[![Jenkins](https://img.shields.io/jenkins/s/${1:user}/${2:project}.png${3:?style=flat${4:-square}})]($5)'
  'Scrutinizer: branch':
    'prefix': 'png-scrutinizer-branch'
    'body': '[![Scrutinizer (branch)](https://img.shields.io/scrutinizer/coverage/g/${1:user}/${2:repository}/${3:branch}.png${4:?style=flat${5:-square}})]($6)'
  'Scrutinizer: coverage':
    'prefix': 'png-scrutinizer-coverage'
    'body': '[![Scrutinizer (coverage)](https://img.shields.io/scrutinizer/coverage/g/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})]($5)'
  'Scrutinizer':
    'prefix': 'png-scrutinizer'
    'body': '[![Scrutinizer](https://img.shields.io/scrutinizer/g/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})]($5)'
  'SensioLabs Insight':
    'prefix': 'png-sensiolab'
    'body': '[![SensioLabs Insight](https://img.shields.io/sensiolabs/i/${1:id}.png${2:?style=flat${3:-square}})]($4)'
  'Travis CI: branch':
    'prefix': 'png-travis-branch'
    'body': '[![Travis CI (branch)](https://img.shields.io/travis/${1:user}/${2:repository}/${3:branch}.png${4:?style=flat${5:-square}})](${6:https://travis-ci.org/${1:user}/${2:repository}})'
  'Travis CI':
    'prefix': 'png-travis'
    'body': '[![Travis CI](https://img.shields.io/travis/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})](${5:https://travis-ci.org/${1:user}/${2:repository}})'
  'Wercker':
    'prefix': 'png-wercker'
    'body': '[![Wercker](https://img.shields.io/wercker/ci/${1:id}.png${2:?style=flat${3:-square}})]($4)'
