'.source.gfm':
  'apm: downloads':
    'prefix': 'svg-apm-dl'
    'body': '[![apm](https://img.shields.io/apm/dm/${1:package}.svg${2:?style=flat${3:-square}})](${4:https://atom.io/${5:packages}/${1:package}})'
  'Chocolatey: downloads':
    'prefix': 'svg-chocolatey-dl'
    'body': '[![Chocolatey](https://img.shields.io/chocolatey/dt/${1:package}.svg${2:?style=flat${3:-square}})](${4:https://chocolatey.org/packages/${1:package}})'
  'Gem: version':
    'prefix': 'svg-gem-dl-ver'
    'body': '[![Gem](https://img.shields.io/gem/dv/${1:gem}/${2:version}.svg${3:?style=flat${4:-square}})](${5:https://rubygems.org/gems/${1:gem}})'
  'Gem: stable downloads':
    'prefix': 'svg-gem-dl-stable'
    'body': '[![Gem](https://img.shields.io/gem/dv/${1:gem}/stable.svg${2:?style=flat${3:-square}})](${4:https://rubygems.org/gems/${1:gem}})'
  'Gem: total downloads':
    'prefix': 'svg-gem-dl-total'
    'body': '[![Gem](https://img.shields.io/gem/dt/${1:gem}.svg${2:?style=flat${3:-square}})](${4:https://rubygems.org/gems/${1:gem}})'
  'Gem: total version downloads':
    'prefix': 'svg-gem-dl-total-ver'
    'body': '[![Gem](https://img.shields.io/gem/dtv/${1:gem}.svg${2:?style=flat${3:-square}})](${4:https://rubygems.org/gems/${1:gem}})'
  'Hex.pm: weekly downloads':
    'prefix': 'svg-hex-dl-week'
    'body': '[![Hex.pm](https://img.shields.io/hexpm/dw/${1:package}.svg${2:?style=flat${3:-square}})](${4:https://hex.pm/packages/${1:package}})'
  'Hex.pm: total downloads':
    'prefix': 'svg-hex-dl-total'
    'body': '[![Hex.pm](https://img.shields.io/hexpm/dt/${1:package}.svg${2:?style=flat${3:-square}})](${4:https://hex.pm/packages/${1:package}})'
  'Hex.pm: daily downloads':
    'prefix': 'svg-hex-dl-day'
    'body': '[![Hex.pm](https://img.shields.io/hexpm/dd/${1:package}.svg${2:?style=flat${3:-square}})](${4:https://hex.pm/packages/${1:package}})'
  'MyGet: downloads':
    'prefix': 'svg-myget-dl'
    'body': '[![MyGet](https://img.shields.io/myget/${1:user}/dt/${2:package}.svg${3:?style=flat${4:-square}})]($5)'
  'npm: downloads':
    'prefix': 'svg-npm-dl'
    'body': '[![npm](https://img.shields.io/npm/dm/${1:package}.svg${2:?style=flat${3:-square}})](${4:https://www.npmjs.org/package/${1:package}})'
  'NuGet: downloads':
    'prefix': 'svg-nuget-dl'
    'body': '[![NuGet](https://img.shields.io/nuget/dt/${1:package}.svg${2:?style=flat${3:-square}})](${4:http://www.nuget.org/packages/${1:package}})'
  'Packagist: daily downloads':
    'prefix': 'svg-packagist-dl-day'
    'body': '[![Packagist](https://img.shields.io/packagist/dd/${1:user}/${2:package}.svg${3:?style=flat${4:-square}})](${5:https://packagist.org/packages/${1:user}/${2:package}})'
  'Packagist: monthly downloads':
    'prefix': 'svg-packagist-dl-month'
    'body': '[![Packagist](https://img.shields.io/packagist/dm/${1:user}/${2:package}.svg${3:?style=flat${4:-square}})](${5:https://packagist.org/packages/${1:user}/${2:package}})'
  'Packagist: total downloads':
    'prefix': 'svg-packagist-dl-total'
    'body': '[![Packagist](https://img.shields.io/packagist/dt/${1:user}/${2:package}.svg${3:?style=flat${4:-square}})](${5:https://packagist.org/packages/${1:user}/${2:package}})'
  'PyPI: daily downloads':
    'prefix': 'svg-pypi-dl-day'
    'body': '[![PyPI](https://img.shields.io/pypi/dd/${1:package}.svg${2:?style=flat${3:-square}})](${4:https://pypi.python.org/pypi/${1:package}})'
  'PyPI: montly downloads':
    'prefix': 'svg-pypi-dl-month'
    'body': '[![PyPI](https://img.shields.io/pypi/dm/${1:package}.svg${2:?style=flat${3:-square}})](${4:https://pypi.python.org/pypi/${1:package}})'
  'PyPI: weekly downloads':
    'prefix': 'svg-pypi-dl-week'
    'body': '[![PyPI](https://img.shields.io/pypi/dw/${1:package}.svg${2:?style=flat${3:-square}})](${4:https://pypi.python.org/pypi/${1:package}})'
  'SourceForge: daily downloads':
    'prefix': 'svg-sourceforge-dl-day'
    'body': '[![SourceForge](https://img.shields.io/sourceforge/dd/${1:project}.svg${2:?style=flat${3:-square}})](${4:https://sourceforge.net/${1:project}})'
  'SourceForge: monthly downloads':
    'prefix': 'svg-sourceforge-dl-month'
    'body': '[![SourceForge](https://img.shields.io/sourceforge/dm/${1:project}.svg${2:?style=flat${3:-square}})](${4:https://sourceforge.net/${1:project}})'
  'SourceForge: total downloads':
    'prefix': 'svg-sourceforge-dl-total'
    'body': '[![SourceForge](https://img.shields.io/sourceforge/dt/${1:project}.svg${2:?style=flat${3:-square}})](${4:https://sourceforge.net/${1:project}})'
  'SourceForge: weekly downloads':
    'prefix': 'svg-sourceforge-dl-week'
    'body': '[![SourceForge](https://img.shields.io/sourceforge/dw/${1:project}.svg${2:?style=flat${3:-square}})](${4:https://sourceforge.net/${1:project}})'
  'Wordpress: downloads':
    'prefix': 'svg-wordpress-dl'
    'body': '[![Wordpress](https://img.shields.io/wordpress/plugin/dt/${1:plugin}.svg${2:?style=flat${3:-square}})](${4:https://wordpress.org/plugins/${1:plugin}})'
