'.text.html.markdown':
  'GitHub followers':
    'prefix': 'png-github-followers'
    'body': '[![GitHub](https://img.shields.io/github/followers/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})](${5:https://github.com/${1:user}/${2:repository}})'
  'GitHub forks':
    'prefix': 'png-github-forks'
    'body': '[![GitHub](https://img.shields.io/github/forks/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})](${5:https://github.com/${1:user}/${2:repository}})'
  'GitHub stars':
    'prefix': 'png-github-stars'
    'body': '[![GitHub](https://img.shields.io/github/stars/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})](${5:https://github.com/${1:user}/${2:repository}})'
  'Twitter follow':
    'prefix': 'png-twitter-follow'
    'body': '[![Twitter](https://img.shields.io/badge/https://img.shields.io/badge/Follow-%40${1:username}-${2:blue}.png${3:&style=flat${4:-square}})](http://twitter.com/${1:username})'
  'Twitter URL':
    'prefix': 'png-twitter-url'
    'body': '[![Twitter](https://img.shields.io/twitter/url/https/${1:url}.png${3:?style=flat${4:-square}})]($5)'
