'.source.gfm':
  'apm: version':
    'prefix': 'png-apm-ver'
    'body': '[![apm](https://img.shields.io/apm/v/${1:package}.png${2:?style=flat${3:-square}})](${4:https://atom.io/${5:package}/${1:package}})'
  'Bower: version':
    'prefix': 'png-bower-ver'
    'body': '[![Bower](https://img.shields.io/bower/v/${1:package}.png${2:?style=flat${3:-square}})]($4)'
  'Chef Cookbook: version':
    'prefix': 'png-chef-ver'
    'body': '[![Chef Cookbook](https://img.shields.io/cookbook/v/${1:cookbook}.png${2:?style=flat${3:-square}})](${4:https://supermarket.chef.io/cookbooks/${1:cookbook}})'
  'Chocolatey: version':
    'prefix': 'png-chocolatey-ver'
    'body': '[![Chocolatey](https://img.shields.io/chocolatey/v/${1:package}.png${2:?style=flat${3:-square}})]($4)'
  'CocoaPods: version':
    'prefix': 'png-cocoapods-ver'
    'body': '[![CocoaPods](https://img.shields.io/cocoapods/v/${1:pod}.png${2:?style=flat${3:-square}})]($4)'
  'Gem: version':
    'prefix': 'png-gem-ver'
    'body': '[![Gem](https://img.shields.io/gem/v/${1:gem}.png${2:?style=flat${3:-square}})]($4)'
  'GitHub: forks':
    'prefix': 'png-github-forks'
    'body': '[![GitHub forks](https://img.shields.io/github/forks/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})](${5:https://github.com/${1:user}/${2:repository}/network})'
  'GitHub: version':
    'prefix': 'png-github-release'
    'body': '[![GitHub release](https://img.shields.io/github/release/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})](${5:https://github.com/${1:user}/${2:repository}/releases})'
  'GitHub: tag':
    'prefix': 'png-github-tag'
    'body': '[![GitHub tag](https://img.shields.io/github/tag/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})](${5:https://github.com/${1:user}/${2:repository}/tags})'
  'Hackage: version':
    'prefix': 'png-hackage-ver'
    'body': '[![Hackage](https://img.shields.io/hackage/v/${1:package}.png${2:?style=flat${3:-square}})](${4:https://hackage.haskell.org/package/${1:package}})'
  'Hex.pm: version':
    'prefix': 'png-hex-ver'
    'body': '[![Hex.pm](https://img.shields.io/hexpm/v/${1:package}.png${2:?style=flat${3:-square}})](${4:https://hex.pm/packages/${1:package}})'
  'Maven Central: version':
    'prefix': 'png-maven-ver'
    'body': '[![Maven Central](https://img.shields.io/maven-central/v/${1:group}/${2:artifact}.png${3:?style=flat${4:-square}})]($5)'
  'MyGet: pre-release version':
    'prefix': 'png-myget-ver-pre'
    'body': '[![MyGet Pre Release](https://img.shields.io/myget/${1:user}/vpre/${2:package.png${3:?style=flat${4:-square}}})]($5)'
  'MyGet: version':
    'prefix': 'png-myget-ver'
    'body': '[![MyGet](https://img.shields.io/myget/${1:user}/v/${2:package}.png${3:?style=flat${4:-square}})]($5)'
  'node: version':
    'prefix': 'png-node-ver'
    'body': '[![node](https://img.shields.io/node/v/${1:package}.png${2:?style=flat${3:-square}})]($4)'
  'npm: version':
    'prefix': 'png-npm-ver'
    'body': '[![npm](https://img.shields.io/npm/v/${1:package}.png${2:?style=flat${3:-square}})](${4:https://www.npmjs.org/package/${1:package}})'
  'NuGet: pre-release version':
    'prefix': 'png-nuget-ver-pre'
    'body': '[![NuGet Pre Release](https://img.shields.io/nuget/vpre/${1:package}.png${2:?style=flat${3:-square}})](${4:http://www.nuget.org/packages/${1:package}})'
  'NuGet: version':
    'prefix': 'png-nuget-ver'
    'body': '[![NuGet](https://img.shields.io/nuget/v/${1:package}.png${2:?style=flat${3:-square}})](${4:http://www.nuget.org/packages/${1:package}})'
  'Packagist: version':
    'prefix': 'png-packagist-ver'
    'body': '[![Packagist](https://img.shields.io/packagist/v/${1:user}/${2:repository}.png${3:?style=flat${4:-square}})](${5:https://packagist.org/packages/${1:user}/${2:package}})'
  'Pub: version':
    'prefix': 'png-pub-ver'
    'body': '[![Pub](https://img.shields.io/pub/v/${1:package}.png${2:?style=flat${3:-square}})](${4:https://pub.dartlang.org/${1:package}})'
  'Puppet Forge: version':
    'prefix': 'png-puppetforge-ver'
    'body': '[![Puppet Forge](https://img.shields.io/puppetforge/v/${1:user}/${2:module}.png${3:?style=flat${4:-square}})](${5:https://forge.puppetlabs.com/${1:user}/${2:module}})'
  'PyPI: version':
    'prefix': 'png-pypi-ver'
    'body': '[![PyPI](https://img.shields.io/pypi/v/${1:package}.png${2:?style=flat${3:-square}})]($4)'
  'WordPress: compatibility':
    'prefix': 'png-wordpress-compat'
    'body': '[![WordPress](https://img.shields.io/wordpress/v/${1:plugin}.png${2:?style=flat${3:-square}})](${4:https://wordpress.org/plugins/${1:plugin}})'
  'WordPress: plugin version':
    'prefix': 'png-wordpress-ver-plugin'
    'body': '[![WordPress plugin](https://img.shields.io/wordpress/plugin/v/${1:plugin}.png${2:?style=flat${3:-square}})](${4:https://wordpress.org/plugins/${1:plugin}})'
